@model StaticPageBigData.Models.MainPageModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Azure Big Data Page</h1>
        <p>Witam na mojej stronie Damian Rodak</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div class="col-md-8 form-group">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <label>URL:</label>
                        <input type="url" asp-for="UrlModel.Url" class="form-control" id="url" placeholder="https://.../../">
                    </div>
                    <div class="col-md-1 form-group">
                        <label></label>
                        <input class="btn btn-primary" type="submit" value="Dodaj" />
                    </div>
                </form>
                <form asp-action="Send">
                    <div class="col-md-3">
                        <label>Email:</label>
                        <input type="text" class="form-control" id="email" placeholder="" value="" asp-for="UrlModel.Email">
                    </div>
                    <div class="col-md-6">

                        <input type="hidden" value="<table>
                            <tr>
                                <th><h1>Generator Maili:</h1></th>
                            </tr>
                            <ul>
                                @foreach (var item in Model.UrlModels)
                                {
                                    if (item.IsSelected)
                                    {
                                        <li>@item.Url</li>
                                    }
                                }
                            </ul>
                        </table>
                        "  asp-for="@Model.UrlModel.IsHtml">
                        <textarea class="col-md-12" rows="10" id="page"><table>
                        <tr>
                        <th><h1>Generator Maili:</h1></th>
    </tr>
                        <ul>
        @foreach (var item in Model.UrlModels)
        {
            if (item.IsSelected)
            {
                        <li>@item.Url</li>
            }
        }
    </ul>
</table>
                      </textarea>
                        <div class="col-md-12 p-1"></div>
                        <div class="offset-5">
                            <input class="btn btn-primary" type="submit" value="Wyślij" />
                        </div>
                    </div>
                </form>

                <div class="col-md-6 form-group">
                    <form asp-action="Generate">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UrlModel.Url)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.UrlModels.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Model.UrlModels[i].Url
                                        </td>
                                        <td>
                                            <input type="hidden" asp-for="@Model.UrlModels[i].Id" />
                                            <input type="hidden" asp-for="@Model.UrlModels[i].Url" />
                                            <a asp-action="Edit" asp-route-id="@Model.UrlModels[i].Id">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@Model.UrlModels[i].Id">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@Model.UrlModels[i].Id">Delete</a> |
                                            <input type="checkbox" asp-for="@Model.UrlModels[i].IsSelected" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input class="btn btn-success" type="submit" value="Generuj" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>