@model StaticPageBigData.Models.MainPageModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Azure Big Data Page</h1>
        <p>Witam na mojej stronie Damian Rodak</p>
    </div>
    <div class="container">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-12 form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="UrlModel.Url">Url</label>
                    <input type="url" asp-for="UrlModel.Url" class="form-control" id="url" placeholder="https://.../../">
                </div>
                <div class="col-md-6 form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="" value="" required>
                </div>
                <div class="col-md-6 form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UrlModel.Url)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UrlModels)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Url)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 form-group d-flex justify-content-center ">
                <textarea class=" col-md-8 form-control" rows="5" id="page" placeholder="Strona"></textarea>
            </div>
            <div class="row">
                <div class="col-md-12 form-group d-flex justify-content-center ">
                    <button class="btn btn-primary" value="Save" type="submit">Save</button>
                    <div class="p-2"></div>
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>